worked on by:

Building models

The previous part ended with a single notebook (per dataset) that would prepare your data for predicting. Next is building a couple of models and actually predicting something.

Which models will you need?

    A quick first model. This won't be a good one, but with this you can start working on the deployment (next step) while still tuning the model.
    Use PyCaret (or another automated ML comparison) on both datasets.
    Create and tune a model on both your datasets. Explain why you choose this particular model and perhaps train a second model to validate this choice.
    Create and tune a model on AWS.

Make sure to keep all the metrics on the models you made and compare these to show which model performed best.

# Predict

In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle('cleaned_data.pkl')

In [3]:
df.head()

,settlement_date,settlement_period,nd,tsd,england_wales_demand,embedded_wind_generation,embedded_wind_capacity,embedded_solar_generation,embedded_solar_capacity,non_bm_stor,pump_storage_pumping,ifa_flow,britned_flow,moyle_flow
0,2006-01-01,1,38596,39660.0,34982,0.0,0.0,0.0,0.0,0,295,1997,0.0,-169.0
1,2006-01-01,2,38829,39897.0,35312,0.0,0.0,0.0,0.0,0,299,1997,0.0,-169.0
2,2006-01-01,3,38456,39599.0,35018,0.0,0.0,0.0,0.0,0,374,1998,0.0,-169.0
3,2006-01-01,4,37401,38823.0,34054,0.0,0.0,0.0,0.0,0,653,1998,0.0,-169.0
4,2006-01-01,5,36586,37937.0,33297,0.0,0.0,0.0,0.0,0,582,1998,0.0,-169.0